= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :specialfood
    = f.text_field :specialfood
  .field
    = f.label :ceremony
    = f.check_box :ceremony
  .field
    = f.label :meal
    = f.check_box :meal
  .field
    = f.label :evening
    = f.check_box :evening
  .actions
    = f.submit 'Save'
