= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg

  .row.offset3
    .field
      .span1
        = f.label :firstname, "#{t :firstname_label}"
      .span3
        = f.text_field :firstname
  .row.offset3
    .field
      .span1
        = f.label :email, "#{t :email_label}"
      .span3
        = f.text_field :email
  .row
    .span12
      %h4=t :specialfood_label
  .row
    .span12
      = f.text_area :specialfood
  .row
    .span12
      %h4 It would be really useful to know which parts of the wedding you're planning to come to
  .row

    .field
      .span3
      .span2
        = f.label :ceremony, "#{t :ceremony_label}"
        = f.check_box :ceremony
      .span2
        = f.label :meal, "#{t :meal_label}"
        = f.check_box :meal  
      .span2
        = f.label :evening, "#{t :evening_label}"
        = f.check_box :evening
      .span3
  .row
    %br
  .row
    .span12
      .actions
        = f.submit 'Save'
  .container
