= form_for @guest do |f|
  - if @guest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@guest.errors.count, "error")} prohibited this guest from being saved:"
      %ul
        - @guest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :specialfood
    = f.text_field :specialfood
  %p It would be really useful to know which parts of the wedding you're planning to come to
  .row

    .field
      .span3
      .span2
        = f.label :ceremony
        = f.check_box :ceremony
      .span2
        = f.label :meal
        = f.check_box :meal  
      .span2
        = f.label :evening
        = f.check_box :evening
      .span3
  .row
    %br
  .row
    .span12
      .actions
        = f.submit 'Save'
  .container
