%p#notice= notice

%p
  %b Firstname:
  = @guest.firstname
%p
  %b Lastname:
  = @guest.lastname
%p
  %b Specialfood:
  = @guest.specialfood
%p
  %b Ceremony:
  = @guest.ceremony
%p
  %b Meal:
  = @guest.meal
%p
  %b Evening:
  = @guest.evening

= link_to 'Edit', edit_guest_path(@guest)
\|
= link_to 'Back', guests_path
