= link_to "J&K's wedding", root_path, :class => 'brand'

%h3.nav.pull-right
	= link_to "RSVP", new_guest_path
	= link_to "#{t :theday}", order_path
	= link_to "Directions", directions_path
	= mail_to "wedding@betteley.me", "Contact", :target => '_blank' 
	-#= link_to "Guest List", guests_path	